
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>

    <form action='/madlib'> 
        <label for="noun">Enter a noun!</label>
        <input type="text" id="noun" name="noun">

        <label for="person">Enter a person!</label>
        <input type="text" id="person" name="person" />

        <label for="adjective">Enter a adjective!</label>
        <input type="text" id="adjective" name="adjective" />

        <label for="color">Select a color!</label>
        <select id="color" name="color" required />
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="Yellow">Yellow</option>
        </select>

        <button type="submit" value="submit">Madlib!</button>

    </form> 

  </body>
</html>








